*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#HOME{
    height: 90vh;
    background-color: #FFFFFF;
}
#HEADER{
    height: 10vh;
    background-color: #FFFFFF;
}
.container{
  text-align: center;
}
.logo{
    margin-top: 20vh;
    width: 500px;
}
.side-logo{
    margin-top: 2vh;
    width: 100px;
}
#DOLLASIGN {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
}
.common-btn{
  position: absolute;
  padding: 12px 30px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.3);
  outline: none;
  border: 2px solid rgba(255, 255, 255, 1);
  font-weight: normal;
  font-size: 20px;
  cursor: pointer;
  top: 50%;
  margin-left: -70px;
  left: 50%;
}
.name-btn{
  position: absolute;
  padding: 12px 30px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0);
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
  top: 40%;
  margin-left: -70px;
  left: 50%;
    
.email-btn{
  position: absolute;
  padding: 10px 30px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0);
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  margin-left: -150px;
  left: 50%;
  top: 40%;
}
